{% extends 'main/base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> 2D games </title>
</head>
<body>
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4"> Here are some 2D variations </h1>
      </div>
      <hr>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-6">
        <div class="card">
          <img src="{% static 'images/wireworld_image.png' %}"class="card-img-top">
          <div class="card-body">
            <h4 class= "card-title"> Wireworld </h4>
            <p class="card-text"> Click here to play wireworld variation</p>
            <a href="{% url 'wireworld' %}" class="btn btn-outline-secondary"> Wireworld </a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <img src="{% static '' %}"class="card-img-top">
          <div class="card-body">
            <h4 class= "card-title"> Conways game of life </h4>
            <p class="card-text"> Click here to play a Conways game of life  </p>
            <a href="r-p-s/" class="btn btn-outline-secondary"> Game of Life </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


{% endblock %}